body{
  background-color: #FFE4C4;
  font-family: sans-serif;
  display: flex;
}

.card{
  background-color: white;
  min-width: 128px;
  max-width: 480px;
  min-height: 128px;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 200px;
}

.card-img img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body{
  padding-top: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.card-body h2{
  opacity: 50%;
  font-size: 12px;
}

.card-body h1{
  font-size: 21px;
  margin-bottom: 24px;
}

.card-body p{
  opacity: 60%;
  font-size: 14.4px;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  font-size: 12.8px;
  padding-left: 16px;
  padding-right: 16px;

}

.card-footer a{
  text-decoration: none;
  color: rgb(109, 109, 235);
}