body{
  background-color: #EEF2F6;
  font-family: Poppins, Arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card{
  min-width: 360px;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  
  /* box shadow: left bottom spread color(with opacity) */
  box-shadow: 0 20px 100px rgba(27, 121, 237, 0.4);

  padding: 30px;
  text-align: center;
  transition: all 0.3s ease;
}

.profile-card:hover{
  box-shadow: 0 20px 100px rgba(92, 43, 156, 0.518);
  transform: translateY(-5px);
}

.profile-card img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #0078FF;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-card h1{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222;
}

.role{
  font-weight: 500;
  color: #555;
  margin-bottom: 15px;
}

.about{
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 25px;
}

.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.skill{
  background-color: #E8F1FF;
  border: 1px solid #0078FF;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: 600;
  color: #0078FF;
  transition: all 0.3s ease;
}

.skill:hover{
  color: white;
  background-color: #0078FF;
}

.btn{
  background-color: #0078FF;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.btn:hover{
  background-color: #005FCC;
}


