body{
  background-color: #cecdcd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1, h2{
  text-align: center;
}

div{
  width: 1200px;
  margin: 0 auto;
}

ul{
  list-style-type: none;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
  line-height: 1.4;
  width: 800px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}

.player_one{
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player_two {
  width: 100%;
}

#yt{
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px; 
}

