.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

img{
  border-radius: 20px;
  height: 350px;
  width: 700px;
}

.btn{
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
}





