* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
  background-color: rgb(16, 15, 15);
  width: 18%;
  padding: 20px;
}

.logo img{
  height: 20px;
}

.menu{
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin-top: 30px;
}

.menu-item{
  color: white;
  text-decoration: none;
}

.main{
  width: 82vw;
  background-color: rgb(32, 31, 31);
  color: white;
}

.logo{
  font-size: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.login{
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 11px;
}

.login:hover{
  background-color: rgb(242, 242, 242);
}

.signup{
  background-color: rgb(32, 31, 31);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 11px;
  border: 1px solid rgb(68, 68, 69);
}

.signup:hover{
  background-color: rgb(53, 53, 53);

}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
}

h1{
  font-weight: 500;
  margin-top: 30vh;
}

.search{
  background-color: rgb(62, 62, 62);
  display: flex;
  width: 45vw;
  gap: 20px;
  padding: 10px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 200;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}

.search .plus{
  padding: 10px;
  border-radius: 30px;
  font-size: small;
  border: 1px solid rgb(62, 62, 62);
  width: 60px;
}

.mic{
  padding: 3px;
  border-radius: 50%;
  border: 1px solid rgb(62, 62, 62);
}

.search .plus:hover, .mic:hover{
  cursor: pointer;
  border: 1px solid gray;
}


.search input{
  background-color:rgb(62, 62, 62);
  color: whitesmoke;
  border: none;
  font-size: large;
  margin-left: 5px;
  width: 650px;
}

input:focus{
  outline: none;
}

footer{
  font-size: small;
  justify-self: center;
  margin-top: 45vh;
}

footer span{
  text-decoration: underline;
  cursor: pointer;
}