h3{
  color: rebeccapurple;
}

h1{
  background-color: burlywood;
}

p{
  text-align: center;
}

.p2{
  background-color: yellow;
}

#p2{
  color: red;
}


/* .c1{
  background-color: purple;
} */

/* #i1{
  background-color: seagreen;
} */

/* div{
  background-color: lime;
} */